/doc/doc.pdf
/PhysicsDarkUniverse/doc.aux
/PhysicsDarkUniverse/doc.bbl
/PhysicsDarkUniverse/doc.blg
/PhysicsDarkUniverse/doc.log
/PhysicsDarkUniverse/doc.out
/PhysicsDarkUniverse/doc.pdf
**/.DS_Store
